h1,h2,h3,h4,h5,h6,p,a,span,label,input,.tooltip,button,select,option,.alert,textarea,th,td{
    font-family: 'Cairo', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p{
    font-weight: 600;
}
.pointer{
    cursor: pointer;
}
#advance_search{
    display: none;
}
.submit-btn .btn{
    float: right;
}
.bg-white{
    background-color: #fff !important;
}
.border-rounded{
    border-radius: 20px !important;
}
.box-shadow{
    box-shadow: 0 15px 40px #b3b3b3;
}
.mt-100{
    margin-top: 100px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mx-50{
    margin-right: 50px !important;
    margin-left: 50px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}
.px-50{
    padding: 0 50px 0 50px !important;
}
.p-10{
  padding: 10px !important;
}
.mx-10{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
}
.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label{
    right: auto !important;
}
.badge-primary{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 2px;
    padding: 2px 4px;
    margin-top: 0;
}
.search label,.search input{
    color: #fff !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff !important;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.pagination {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.pagination-div{
    margin-left: 15px;
    margin-right: 15px;
    float: right;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    transition: background 0.5s ease;
}
/************************************************************************************/

.search.form-group  {
    padding: 0;
    margin: 0;
    line-height: 0;
    color:#fff;
}
.search.form-group .form-control {
    font-weight: 600;
    background-image: linear-gradient(60deg, #fff, #fff), linear-gradient(#fff, #fff) !important;
}
.search.form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, #fff, #fff), linear-gradient(#fff, #fff) !important;
}
.search.form-group.is-focused .form-control .material-input:after {
    background-color: rgb(255, 255, 255) !important;
}
.px-3{padding-right:1rem!important}
.px-3{padding-left:1rem!important}
.sidebar .nav li.active > a, .off-canvas-sidebar .nav li.active > a{
    color: #fff !important;
}
::-webkit-scrollbar-thumb {
    background: var(--main-bg-color-a) !important;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--main-bg-color) !important;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover{
    background: var(--main-bg-color) !important;
    box-shadow: 0 12px 20px -10px var(--main-bg-color-a1), 0 4px 20px 0 var(--main-bg-color-dark), 0 7px 8px -5px var(--main-bg-color-a2) !important;
}
.form-group.is-focused .form-control {
    background-image: linear-gradient(60deg, var(--main-bg-image), var(--main-bg-image2)), linear-gradient(var(--main-bg-image-dark), var(--main-bg-image-dark2)) !important;
}
.form-group.is-focused .form-control .material-input:after {
    background-color: var(--main-bg-color) !important;
}
.text-primary {
    color: var(--main-bg-color) !important;
}
a {
    color: var(--main-bg-color) !important;
}
.lt-register-btn,.lt-register-btn:hover, .lt-register-btn:focus {
    background: var(--main-bg-color) !important;
}
.mdl-textfield__label:after {
    background-color: var(--main-bg-color) !important;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: var(--main-bg-color) !important;
}
.pagination > li > a,.pagination > li > span,.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>span:focus
{
    color: var(--main-bg-color) !important;
}
.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus,.pagination>.active>span:focus,.pagination>.active>span:hover{
    background-color: var(--main-bg-color) !important;
    border-color:var(--main-bg-color) !important;
}
li.active .badge-primary {
    color: var(--main-bg-color) !important;
    background-color: var(--main-bg-color-light) !important;
}
.badge-primary {
    color: var(--main-bg-color-light) !important;
    background-color: var(--main-bg-color) !important;
}
.card .card-header{
    background: linear-gradient(60deg, var(--main-bg-image), var(--main-bg-image2)) !important;
    box-shadow: 0 12px 20px -10px var(--main-bg-color-a1), 0 4px 20px 0 var(--main-bg-color-dark), 0 7px 8px -5px var(--main-bg-color-a2) !important;
}
.sidebar .nav li.active a, .off-canvas-sidebar .nav li.active a {
    background-color: var(--main-bg-color) !important;
    box-shadow: 0 12px 20px -10px var(--main-bg-color-a1), 0 4px 20px 0 var(--main-bg-color-dark), 0 7px 8px -5px var(--main-bg-color-a2) !important;
}
.navbar .dropdown-menu li a:hover,.navbar .dropdown-menu li a:focus,.navbar .dropdown-menu li a:active,.navbar.navbar-default .dropdown-menu li a:hover,.navbar.navbar-default .dropdown-menu li a:focus,.navbar.navbar-default .dropdown-menu li a:active
{
    background-color: var(--main-bg-color) !important;
    box-shadow: 0 12px 20px -10px var(--main-bg-color-a1), 0 4px 20px 0 var(--main-bg-color-dark), 0 7px 8px -5px var(--main-bg-color-a2) !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}
